.tutorialText {
    text-align: left;
}

.tutorialContainer {
    margin-top: 7vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tutorialTextContainer {
    width: 80%;
}

.buttonContainer1 {
    width: 10vw;
    height: 5vh;
    background-color: #538D4E;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: auto;

}

.botButton {
    color: white;
}

.botButton:hover {
    color: black;
}